atomicwrites==1.4.0
attrs==21.2.0
certifi==2021.10.8
colorama==0.4.4
importlib-metadata
iniconfig==1.1.1
packaging==21.2
pluggy==1.0.0
py==1.11.0
pyparsing==2.4.7
pytest==6.2.5
toml==0.10.2
typing-extensions==3.10.0.2
zipp==3.6.0
